@import '../../assets/variables';

$background-even: #f4f4f4;
$background-odd: #fff;
$header-color: #6c6c6c;
$text-color: #0f5c79;

.table-result {
  border: 0;
  border-collapse: collapse;
  width: 100%;

  tbody {
    tr {
      &:nth-child(even) {
        background: $background-even;
      }
      &:nth-child(odd) {
        background: $background-odd;
      }
    }
  }

  td,
  th {
    text-align: center;

    @media only screen and (max-width: $media-smaller-smartphone) {
      &:nth-child(1) {
        display: none;
      }
    }

    &:nth-child(2) {
      text-align: left;
    }
  }

  td {
    padding: 8px 5px;

    @media only screen and (max-width: $media-smartphone) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: $media-smaller-smartphone) {
      font-size: 0.7rem;
    }

    &,
    a {
      color: $text-color;
    }

    a {
      align-items: center;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: lighten($text-color, 20%);
      }

      img + span {
        margin-left: 1rem;

        @media only screen and (max-width: $media-smartphone) {
          margin-left: 0.5rem;
        }
      }
    }

    img {
      height: 25px;
      width: 25px;

      @media only screen and (max-width: $media-smartphone) {
        height: 15px;
        width: 15px;
      }
    }
  }

  th {
    background: $background-even;
    box-sizing: border-box;
    color: $header-color;
    font-size: 0.7rem;
    padding: 20px 5px;
    text-transform: uppercase;
    width: 100px;

    @media only screen and (max-width: $media-smartphone) {
      width: 60px;

      span {
        display: none;
      }
    }

    &:nth-child(2) {
      width: auto;
    }
  }
}
