@import '../../assets/variables';

$box-background: #ccc;
$box-background-hover: #aaa;
$box-color: #fff;

.week-links {
  li {
    margin-bottom: 5px;
    margin-right: 5px;

    & > a {
      background: $box-background;
      border-radius: 5px;
      color: $box-color;
      display: block;
      font-size: 1rem;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      transition: background 0.1s, color 0.1s;
      width: 40px;

      &.active,
      &:hover {
        background: $box-background-hover;
      }
    }
  }

  select {
    background: $box-background;
    border: 0;
    border-radius: 5px;
    color: $box-color;
    display: none;
    font-size: 1rem;
    padding: 10px;
    width: 100%;

    @media only screen and (max-width: $media-smartphone) {
      display: block;
    }
  }

  ul {
    @media only screen and (max-width: $media-smartphone) {
      display: none;
    }
  }
}
