.container {
  display: flex;
  flex-direction: row;

  @include media-query($media-smartphone) {
    flex-direction: column;
  }

  & > aside,
  & > main {
    box-sizing: border-box;
  }

  & > aside {
    padding-right: 30px;
    width: 300px;

    @include media-query($media-tablet) {
      width: 210px;
    }

    @include media-query($media-smartphone) {
      margin-bottom: 1rem;
      padding-right: 0;
      width: 100%;
    }
  }

  & > main {
    flex: 1;
  }
}
