@import "../../styles/global";

$info-color: #40bda0;

.team {
  aside {
    text-align: center;

    & > img {
      height: 100px;
      margin-bottom: 1rem;
      width: 100px;

      @include media-query($media-smartphone) {
        height: 70px;
        width: 70px;
      }
    }
  }

  .toggle-info {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $info-color;
    display: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: none;
    text-transform: uppercase;

    @include media-query($media-smartphone) {
      display: inline-block;
    }
  }

  .team-info {
    border-top: 1px dashed $border-color;

    @include media-query($media-smartphone) {
      overflow: hidden;
      position: relative;

      &.collapsed {
        .table-object {
          margin-top: 1rem;
        }
      }
    }
  }
}
